.my-list{
    margin: auto;  /*  to make it center */
    background-color: #8381f7;
    padding: 8px 24px;
    width: 200px;
    text-size-adjust: 30px;
    Border: 1px solid #f7f381;
    background-color:  #f781ae ;
    box-shadow: 0 0 10px 2px #333333;
    bottom: 0cm;
}

ol{
    margin: 50px;
}

p{
    text-align: justify;
}